.header {
  display: flex;
  align-items: center;
  background-color: #252525;
  color: white;
  padding: 1.3rem 0rem 1.2rem 0rem;
  font-family: poppinsRegular;
}
.headerLeft {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  flex: 0.85;
}
.headerRight {
  font-family: "Open Sans", sans-serif;
  flex: 0.15;
  display: flex;
}

.headerLeftHeading {
  font-size: 1.5rem;
  font-weight: bolder;
}
.brand-img {
  height: 2rem;
  width: 2rem;
}
.headerRightLinks {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
}
